.table-container {
  min-width: 300px;
  width: 100%;
  max-width: 100%;
  transition: max-width 0.3s ease;
}

@media (min-width: 768px) {
  .table-container {
    max-width: calc(100% - 340px);
  }
}

.img-container {
  flex-shrink: 0;
  min-width: 320px;
  max-width: 320px;
}
