.appointment-section {
  width: 100vw;
  min-height: 600px;
  background-image: url('/public/banner-background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


.content-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
