.btFooterWrap p {
  text-align: justify;
  margin-bottom: 1rem;
}

.ps-5 {
  padding-left: 3rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

@media (min-width: 768px) {
  .text-md-center {
    text-align: left !important;
  }
}

@media (max-width: 767.98px) {
  .footer-logo img {
    width: 100% !important;
    max-width: none !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-md-center {
    text-align: left !important;
  }

  .ps-5,
  .ms-5 {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
}